
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;   
}
nav{
max-width: 960px; 
margin: 0 auto;
padding: 10px 0;
margin-right: 0%;
position: fixed;
z-index: 1;
}
h1{
    color:black;
    text-align: center;
    font-size: 15px;
    fill-opacity: inherit;
}
nav ul{
    width: auto;
    float: right;
    color: black;
    margin-top: 8px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    color: black;
}
nav ul li a{
    color: rgb(26, 22, 22);
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    padding: 15px 30px;
    text-shadow: black;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}