*{
margin: 0px;
padding: 0px;
font-family: 'Poppins', sans-serif;   
}
nav{
margin: 0 auto;
padding: 10px 0;
margin-right: 5%;
margin-left: 5%;
position: fixed;
z-index: 10;
line-height: 1.5px;
}
#star{
    margin: 2px;
    color: rgb(63, 71, 49);
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px
}
p{
  text-align: center;
  font-size:20px;
  font-family:'Poppins';
  font-weight: bolder;
}
nav ul{
width: auto;
float: right;
color: black;
margin-top: 8px;
margin-right: 5;
margin-left: 5;
align-items: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    color: black;
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    position: relative;
    margin-right: 5;
    margin-left: 5;
}
nav ul li a{
    color: rgb(26, 22, 22);
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    padding: 15px 30px;
    text-shadow: black;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}
nav ul li a:hover{
    color: #649549;
}
.Streetfood{
color: black;
text-align: center;
font-weight: 500;
text-shadow: 2px,2px,5px;
font-family: 'poppins';
font-size: 100px;
}
.one{
    margin-left: 5;
    margin-right: 5;
text-align: left;    font-size: 10px;
    font-family: 'Poppins';
    line-height: 1.5;
}
#heading1{
    text-align: center;
    font-size: 20px;
    font-family: 'poppins';
    padding: auto;
    font-weight: 900;
    line-height: 3;
    text-shadow: 2px,2px,5px;
}
h3{
    font-size: 12px;
    line-height: 2;
}